{% extends "layout.html" %}

{% block body %}

<div class="about-section">
    <h1>About Us Page</h1>
  </div>
</div>
<div class="big-container">
    <h2 class="title">Welcome to FOODWISE!</h2>
    <p style="text-align:center;font-size:20px">Cooking at its finest.</p>
    <p style="text-align:center;font-size:20px">Your recipe finder and easy problem-solver!</p>
    <p style="text-align:center;font-size:20px">From salads to fancy deserts, Foodwise can help you create it all.</p>

    <h2 class="title">Our Team!</h2>
    <div class="row">
        <div class="col-4">
            <img src="static/img/jerry.jpg" width="400px">
            <h4 style="text-align:center;";>Jerry Zhu</h4>
            <h5 style="text-align:center">Team member #1</h5>
            <p style="text-align:center">jerry.zhu@foodwise.ml</p>
            <p style="text-align:center"><a class="button" href="mailto:jerry.zhu@foodwise.ml">Contact</a></p>        
        </div>
        <div class="col-4">
            <img src="static/img/matthew.jpg" width="350px">
            <h4 style="text-align:center">Matthew Shen</h4>
            <h5 style="text-align:center">Team member #2</h5>
            <p style="text-align:center">matthew.shen@foodwise.ml</p>
            <p style="text-align:center"><a class="button" href="mailto:matthew.shen@foodwise.ml">Contact</a></p>
        </div>
        <div class="col-4">
            <img src="static/img/maggie.jpg" width="300px">
            <h4 style="text-align:center">Maggie Liu</h4>
            <h5 style="text-align:center">Team member #3</h5>
            <p style="text-align:center">maggie.liu@foodwise.ml</p>            
            <p style="text-align:center"><a class="button" href="mailto:maggie.liu@foodwise.ml">Contact</a></p>
        </div>
        <div class="col-4">
            <img src="static/img/avni.jpg" width="300px">
            <h4 style="text-align:center">Avni Arora</h4>
            <h5 style="text-align:center">Team member #4</h5>
            <p style="text-align:center">avni.arora@foodwise.ml</p>            
            <p style="text-align:center"><a class="button" href="mailto:avni.arora@foodwise.ml">Contact</a></p>
        </div>
    </div>
</div>

{% endblock %}
